<!DOCTYPE html>
<html>
<head>
  <title>WorldLens</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <ul>
    <% if current_user %>
    <li><%= current_user.username%></li>
    <li><%= link_to "Sign Out", logout_path, method: :delete%></li>
    <%end%> 
  </ul>

<%= yield %>

</body>
</html>
